nav a {
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

nav a:hover {
    background-color:#89c090;
}

.container {
    place-items: center;
}

.card {
    margin: 0 auto;
    width: 20rem;
}

#carouselExampleControls {
    max-width: 300px; 
    margin: 0 auto; 
}

.carousel-item img {
    width: 100%; 
    height: auto; 
    max-height: 450px; 
    object-fit: cover; 
}
